@use 'colors' as colors;
@use 'spacing' as spacing;

:host {
  display: flex;
  flex-direction: column;
  padding: spacing.$spacing-large;
  box-shadow: 0 2px 10px rgba(colors.$white, 0.1);
  background-color: colors.$white;
  border-radius: 8px;

  .top-bar {
    margin-top: 0;
    margin-bottom: spacing.$spacing-large;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      margin: 0;
    }

    .logout-button {
      border-radius: 20px;
    }
  }

  .data-row {
    display: flex;
    align-items: center;

    &__property {
      margin-right: spacing.$spacing-small;
    }

    &__icon {
      margin-right: spacing.$spacing-medium;
    }
  }

}
