$primary: #7acd71;
$primary-dark: #5fa056;
$secondary: #333;
$secondary-light: #808080FF;
$secondary-very-light: #cccccc;
$black: #000;

$white: #ffffff;
$milky-white: #f8f9fa;
$greyish-white: #e9ecef;
$error: #d9534f;
$error-bg: #ffc0c0;
